# Core data processing and ML
pandas~=2.3.3
numpy~=2.4.0
scikit-learn~=1.8.0

# Machine Learning and Deep Learning
tensorflow==2.20.0

# Configuration management
pyyaml~=6.0

# Property-based testing
hypothesis~=6.148.8


# REST API
fastapi==0.128.0
pydantic~=2.12.5